body {
  background-color: #eee;
}

.container {
  margin: auto;
  background-color: #0000FF;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.section1 {
  width: 25%;
  padding: 1em;
  margin: 1em;
}

@media all and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 2px;
    margin: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .container div {
    width: 100%;
    padding: 10 px;
    margin: 2 em;
  }
}



