body {
    background-image: url(https://cloud.githubusercontent.com/assets/1762760/4930939/bfd680da-656d-11e4-9136-397fc1bbe978.jpeg);
    background-size: cover;
}

.container {
  margin: auto;
  background-color: #0000FF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.section1 {
  display: flex;
  width: 25%;
  padding: 1em;
  margin: 1em;
  background-color: #FFF;
}

@media all and (max-width: 600px) {
  .container {
    box-sizing: border-box;
    width: 100%;
    flex-flow: column wrap;
    padding: 1em;
  }
  
  .container div {
    box-sizing: border-box;
    width: 100%;
    color: #333;
    background-color: #eee;
    align-self: center;
    flex: 1;
  }
}



