body {
  background-color: #eee;
}

.container {
  margin: auto;
  background-color: #0000FF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.section1 {
  width: 25%;
  padding: 1em;
  margin: 1em;
  background-color: #FFF;
}

@media all and (max-width: 600px) {
  .container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 2 em;
    margin: auto;
    flex-flow: column wrap;
  }
  
  .container div {
    box-sizing: border-box;
    width: 100%;
    margin: 2 em;
    padding: 0 2 em;
    background-color: #00F000;
  }
}



