

body{
	margin:0;
	padding: 0;
	background-color: #000;
}

div i {
	font-family: 'Tangerine', serif;
	font-size: 48px;
}

a, a:active, a:hover, a:visited {
	text-decoration:none;
	color: gray;
}

/* GRYFFINDOR */ 
#home { 
	background: url(https://cloud.githubusercontent.com/assets/1762760/6544721/1b271388-c512-11e4-925c-63c9e8742d61.jpg) 50% 0 no-repeat fixed; 
	height: 1000px;  
	margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
	color: aliceblue;
	font-size: 72px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-family: 'Tangerine', serif;
	box-shadow: 0 0 70px rgba(0,0,0,0.8);
}

#home div {
	background-color:rgba(0,0,0,0.8);
	color: brown;
	padding: 10px 20px;
}

/* SLYTHERIN */

#sect2 { 
	background: url(https://cloud.githubusercontent.com/assets/1762760/6544731/3fe8c2c0-c512-11e4-9272-88116d9250f7.jpg) 100% 0 no-repeat fixed; 
	height: 1000px;
	margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 70px rgba(0,0,0,0.8);
}

#sect2 div {
	background-color:rgba(0,0,0,0.6);
	color: darkgreen;
	padding: 10px 20px;
	max-width: 600px;
	font-size: 22px;
	margin-top: 50px;
}

/* HUFFLEPUFF */

#sect4 { 
	background: url(https://cloud.githubusercontent.com/assets/1762760/6544734/75039ee4-c512-11e4-8f90-ff426ad08986.jpg) 50% 0 no-repeat fixed; 
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
			display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 70px rgba(0,0,0,0.8);
}

#sect4 div {
	background-color:rgba(24, 23, 21, 0.6);
	color: #eee;
	padding: 10px 20px;
	max-width: 600px;
	font-size: 22px;
}

/* RAVENCLAW */

#sect5 { 
	background: url(https://cloud.githubusercontent.com/assets/1762760/6544778/44986350-c514-11e4-9a55-f307ae6ee3cb.jpg) 50% 0 no-repeat fixed; 
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
		display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 70px rgba(0,0,0,0.8);
}

#sect5 div {
	background-color:rgba(0, 95, 143, .6);
	color: #FFF;
	padding: 10px 20px;
	margin-top: 50px;
	max-width: 650px;
	font-size: 22px;
}

/* BUCKBEAK */

#sect6 { 
	background: url(https://cloud.githubusercontent.com/assets/1762760/6544784/90cdb98c-c514-11e4-8973-878cbbdfa0ce.jpg) 50% 0 no-repeat fixed; 
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
		display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 70px rgba(0,0,0,0.8);
}

#sect6 div {
	background-color:rgba(17,37,50,0.75);
	color: #FFF;
	padding: 10px 20px;
	margin-top: 50px;
	max-width: 650px;
	font-size: 22px;
}

/* ALWAYS */

#always { 
	background: url(https://cloud.githubusercontent.com/assets/1762760/6544786/a5b9c494-c514-11e4-90bd-356cd5a43c4d.jpg) 50% 0 no-repeat fixed; 
	height: 1000px;
	margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
		display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 70px rgba(0,0,0,0.8);
}


#always div {
	background-color:rgba(0,0,0,0.6);
	color: #FFF;
	padding: 10px 20px;
	margin-top: 450px;
	max-width: 650px;
	font-size: 22px;
}

#always div b {
font-family: 'Tangerine', serif;
	font-size: 40px;
}



